@import '../../../../styles.scss'; //Styles

// Section ------------------
.row-2 {
max-height: 214px;
width: 100%;
height: auto;
display: flex;
justify-content: center;
margin: 5% 0;
  .row-inner {
    width: auto;
    display: flex;
		justify-content: space-around;
		// Card ------------------
		.card {
			width: 32%;
			height: auto;
			padding: 1%;
			margin: 0 4%;
			display: flex;
			justify-content: center;
			cursor: pointer;
			.card-border {
				border: solid $rcn-blue 1.2px;
				border-radius: 15px;
				-webkit-transition: border-radius 0.2s; /* Safari */
				transition: border-radius 0.2s;
			}
			// Expanded card ------------------
			.card-border-expanded{
				border: solid $rcn-blue 1px; 
				border-radius: 15px;
				background-color: white;
				@include shadowElement;
				-webkit-transition: box-shadow 0.2s; /* Safari */
				transition: box-shadow 0.2s;
				-webkit-transition: border-radius 0.2s; /* Safari */
				transition: border-radius 0.2s;
				-webkit-transition: background-image 0.2s; /* Safari */
				transition: background-image 0.2s;
				-webkit-transition: border-left 0.2s; /* Safari */
				transition: border-left 0.2s;
				// Content ------------------
				.content-box {
					width: 220px;
					height: 220px;
					display: flex;
					flex-wrap: wrap;
					justify-content: center;
					align-items: center;
					// Expanded content ------------------
					.content-expanded {
						width: 80%;
						height: auto;
						display: flex;
						flex-wrap: wrap;
						justify-content: flex-start;
						align-items: center;
						margin: 3%;
						// Expanded image ------------------
						.img-box-expanded {
							width: 25%;
							margin-right: 60%;
							img {
								width: 100%;
							}
						}
						// Title ------------------
						.h6 {
							@include char-card-text-color;
							margin-bottom: 1%;
						}
						// Line ------------------
						.line {
							width: 8%;
							border-bottom: solid $rcn-blue 2px;
							margin-top: 2%;
						}
						// Text ------------------
						.text {
							@include char-card-text-color;
							font-size: 12px;
							margin-top: 6%;
						}
					}
				}
			}
		}
  	}
}

// Card content ------------------
.content-box {
	width: 200px;
	height: 200px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	// Content ------------------
	.content {
		width: 50%;
		height: auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		.img-box {
			width: 80%;
			img {
				width: 100%;
			}
		}
		.h6 {
			display: flex;
			justify-content: center;
			h6 {
				@include char-card-text-color;
				margin-top: 8%;
				text-align: center;
			}
		} 
	}
}

//-----------------------------------------------------------------------------------------------------------
// Maximum width 910px
//-----------------------------------------------------------------------------------------------------------

@media (max-width: 910px){

// Section ------------------
.row-2 {
	max-height: 600px;
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	padding-top: 5%;
	padding-bottom: 5%;
	.row-inner {
		width: 40%;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		margin-top: 2%;
		// Card ------------------
		.card {
			width: 100%;
			height: auto;
			padding: 1%;
			margin: 0 4%;
			display: flex;
			justify-content: center;
		.card-border {
			width: auto;
			height: auto;
			padding: 4%;
			margin: 5% 0;
			border: solid $rcn-blue 1.2px;
			border-radius: 15px;
			display: flex;
			justify-content: center;
		}
		}
	}
}

// Content ------------------
.content-box {
	width: 150px;
	height: 150px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	.content {
		width: 100%;
		.img-box {
			width: 50%;
			img {
				width: 100%;
			}
		}
		.h6 {
			display: flex;
			justify-content: center;
			h6 {
				@include char-card-text-color;
				margin-top: 8%;
				text-align: center;
			}
		} 
	}
}

}	