<div class="main-container">
    <div class="img-box">
      <img src="../../../../assets/img/header-desktop-originators.jpg" alt="">
    </div>
    <div class="img-box-mobile">
      <img src="../../../../assets/img/header-mobile-originators.jpg" alt="">
    </div>
    <div class="content">
      <app-title-text class="row">
        <h3 class="title">ORIGINATORS</h3>
        <p class="text">The platform connects financial institutions, fintech lending companies and blockchain startups with a global network of retail Creditors, providing them direct access to funding while removing third parties and reducing operation and financing costs. With borderless liquidity, flexible debt products and plug-and-play integrations, getting funding is now easier than ever before.</p>
      </app-title-text>
    </div>
  </div>