<div class="main-container">
	<div class="img-box">
		<img src="../../../../assets/img/header-desktop-creditors.jpg" alt="">
	</div>
	<div class="img-box-mobile">
		<img src="../../../../assets/img/header-mobile-creditors.jpg" alt="">
	</div>
	<div class="content">
		<app-title-text class="row">
			<h3 class="title">CREDITORS</h3>
			<p class="text">The RCN decentralized marketplace allows lenders to reach the most profitable debt markets around the world, no matter where they are. With multiple currencies to choose from, competitive interest rates and different exposure alternatives, lending is now one of the smartest use cases for cryptocurrencies.
			</p>
		</app-title-text>
	</div>
</div>