<div class="main-container">
	<div class="img-box">
		<img src="../../../../assets/img/header-desktop-hiw.jpg" alt="">
	</div>
	<div class="img-box-mobile">
		<img src="../../../../assets/img/header-mobile-hiw.jpg" alt="">
	</div>
	<div class="content">
		<app-title-text class="row">
			<h3 class="title">HOW IT WORKS</h3>
			<p class="text">RCN is a network of key Decentralized Finance service providers that interact with each
				other through an open-source set of Ethereum smart-contracts to connect debt markets’ supply and demand
				and enable frictionless lending use cases.
			</p>
		</app-title-text>
	</div>
</div>