<div class="phrase" [@scrollGroupAnimation]="state">
	<div class="row">
		<div class="text">
			<app-title-text>
				<h3 class="title">Get On Board</h3>
				<h3 class="page-title"
					[@lineAnimationThickParameter]="{value: lineState, params: {widthLength: '20%' }}"></h3>
				<h3 class="page-title"
					[@lineAnimationThickParameter]="{value: lineState, params: {widthLength: '20%' }}"></h3>
				<p class="text-p">Interested on being an RCN originator? Get in touch, join the network and start taking
					advantage of the benefits of blockchain-based credit.</p>
			</app-title-text>
			<div>
				<a href="mailto:info@ripiocredit.network?Subject=Hello%20again" target="_top"><h6 class="mail">info@ripiocredit.network</h6></a> 
			</div>
		</div>
	</div>
</div>