<div class="main-container">
	<div class="row">
		<div class="text">
			<app-title-text>
				<h3 class="title">Use Cases</h3>
				<h3 class="page-title2" [@lineAnimationThin]="lineState"></h3>
				<h3 class="page-title" [@lineAnimationThick]="lineState"></h3>
				<h6 class="subtitle">ORIGINATOR-BACKED LOANS</h6>
				<p>To better protect creditors, loans are backed by an Originator, an entity responsible for defining
					interest
					rates, performing KYC and scoring assessments, managing collection services and securing buyback
					guarantee in
					case of default. Originator-backed loans are first requested by a Borrower to an Originator, which
					then
					broadcasts them to the decentralized marketplace for a Creditor to fund them. </p>
			</app-title-text>
		</div>
		<div class="img-container">
			<div class="img-box">
				<img src="../../../../assets/graphics/esquemas-02.svg" alt="">
			</div>
			<div class="img-box-mobile">
				<img src="../../../../assets/graphics/esquemas-1.svg" alt="">
			</div>
		</div>
		<div class="text">
			<app-title-text>
				<h6>CRYPTO-COLLATERAL-BACKED LOANS</h6>
				<p>In the absence of an Originator, a Borrower can request loans with different durations, interest
					rates, LTV
					ratios and amortization schedules directly on the decentralized marketplace by offering
					cryptocurrency as
					collateral. The collateralized funds are stored on a non-custodial escrow smart-contract,
					guaranteeing their
					security until the loan is repaid.</p>
			</app-title-text>
		</div>
		<div class="img-container">
			<div class="img-box">
				<img src="../../../../assets/graphics/esquemas-01.svg" alt="">
			</div>
			<div class="img-box-mobile">
				<img src="../../../../assets/graphics/esquemas-2.svg" alt="">
			</div>
		</div>
		<div class="text">
			<app-title-text>
				<h3 class="title">Loan Life Cycle</h3>
				<h3 class="page-title2" [@lineAnimationThin]="lineState"></h3>
				<h3 class="page-title" [@lineAnimationThick]="lineState"></h3>
				<p>The Loan Life Cycle describes all the different actions that a Borrower and a Creditor might perform on
					a loan
					contract, and the related status it acquires after each of them.</p>
			</app-title-text>
		</div>
		<div class="img-container">
			<div class="img-box">
				<img src="../../../../assets/graphics/esquemas-03.svg" alt="">
			</div>
			<div class="img-box-mobile">
				<img src="../../../../assets/graphics/esquemas-3.svg" alt="">
			</div>
		</div>
		<div class="title-ref">
			<h5>REFERENCES</h5>
			<i class="fas fa-info-circle"></i>
		</div>
		<div class="row-ref">
			<div class="col-1-ref">
				<div class="ref-1">
					<div class="ref-box">
						<div class="ref">
							<h6>Request Date</h6>
						</div>
						<div class="ref-img-box">
							<div class="ref-img">
								<img src="../../../../assets/references/ref_request-date.svg" alt="">
							</div>
						</div>
					</div>
					<div class="ref-box">
						<div class="ref">
							<h6>Requested</h6>
						</div>
						<div class="ref-img-box">
							<div class="ref-img">
								<img src="../../../../assets/references/ref_requested.svg" alt="">
							</div>
						</div>
					</div>
					<div class="ref-box">
						<div class="ref">
							<h6>Expiration Date</h6>
						</div>
						<div class="ref-img-box">
							<div class="ref-img">
								<img src="../../../../assets/references/red_expiration-date.svg" alt="">
							</div>
						</div>
					</div>
				</div>
				<div class="ref-2">
					<div class="ref-box">
						<div class="ref">
							<h6>Lending Date</h6>
						</div>
						<div class="ref-img-box">
							<div class="ref-img">
								<img src="../../../../assets/references/ref_lending-date.svg" alt="">
							</div>
						</div>
					</div>
					<div class="ref-box">
						<div class="ref">
							<h6>Ongoing</h6>
						</div>
						<div class="ref-img-box">
							<div class="ref-img">
								<img src="../../../../assets/references/ref_ongoing.svg" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-2-ref">
				<div class="ref-3">
					<div class="ref-box">
						<div class="ref">
							<h6>Installments</h6>
						</div>
						<div class="ref-img-box">
							<div class="ref-img">
								<img src="../../../../assets/references/ref_installment.svg" alt="">
							</div>
						</div>
					</div>
					<div class="ref-box">
						<div class="ref">
							<h6>Repayment Date</h6>
						</div>
						<div class="ref-img-box">
							<div class="ref-img">
								<img src="../../../../assets/references/ref_repayment-date.svg" alt="">
							</div>
						</div>
					</div>
				</div>
				<div class="ref-4">
					<div class="ref-box">
						<div class="ref">
							<h6>Due Date</h6>
						</div>
						<div class="ref-img-box">
							<div class="ref-img">
								<img src="../../../../assets/references/ref_due-date.svg" alt="">
							</div>
						</div>
					</div>
					<div class="ref-box">
						<div class="ref">
							<h6>In debt</h6>
						</div>
						<div class="ref-img-box">
							<div class="ref-img">
								<img src="../../../../assets/references/ref_in-debt.svg" alt="">
							</div>
						</div>
					</div>
					<div class="ref-box">
						<div class="ref">
							<h6>Default Date</h6>
						</div>
						<div class="ref-img-box">
							<div class="ref-img">
								<img src="../../../../assets/references/ref_default-date.svg" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="text">
			<app-title-text>
				<h3 class="title">RCN Token</h3>
				<h3 class="page-title2" [@lineAnimationThin]="lineState"></h3>
				<h3 class="page-title" [@lineAnimationThick]="lineState"></h3>
				<p>The RCN token is an Ethereum smart-contract that sits at the heart of the RCN protocol, acting as a vehicle that allows value to seamlessly travel through the blockchain across borders and between currencies. Using a series of Liquidity Pools, the funds provided by a Creditor in another cryptocurrency can be exchanged by RCN, broadcasted to the blockchain and finally exchanged again for the Borrower’s currency of choice. The whole transaction takes place in just a few seconds and does not involve any fees, regardless of where the Creditor and the Borrower might be at the time of the operation. Moreover, as the funds are never stored in proprietary third-party wallets, security and transparency are guaranteed at every step of the process.
				</p>
			</app-title-text>
		</div>
	</div>
</div>