@import '../../../../styles.scss'; //Styles

// Header ------------------
.sticky {
    position: fixed;
}

// Content ------------------
.content {
    position: absolute;
    z-index: 2;
    background-color: white;
    margin-top: 500px;
    @include shadowElementUp;
}

//-----------------------------------------------------------------------------------------------------------
//Maximum width 768px
//-----------------------------------------------------------------------------------------------------------

@media (max-width: 768px){ 

// Content ------------------
.content {
    margin-top: 1113px;
}

}