<div class="main-container">
  <div class="row">
    <div class="col-1">
      <div class="logo-box">
        <img src="../../../assets/isologotypo.svg" alt="">
      </div>
      <div class="links-mobile">
          <div class="link"><a href="https://rcn.loans/" target="_blank">Markets</a></div>
          <div class="link"><a href="https://ripiocredit.network/" target="_blank">Blog</a></div>
          <div class="link"><a href="" target="">info@ripiocredit.network</a></div>
        </div>
        <div class="logo-box-mobile">
          <img src="../../../assets/isologotypo.svg" alt="">
        </div>
    </div>
      <div class="col-2">
        <div class="links">
          <div><a class="link" href="https://rcn.loans/" target="_blank">Markets</a></div>
          <span>|</span>
          <div><a class="link" href="https://medium.com/rcn-news" target="_blank">Blog</a></div>
          <span>|</span>
          <div><a href="mailto:info@ripiocredit.network?Subject=Hello%20again" target="_top">info@ripiocredit.network</a></div>
          <span>|</span>
        </div>
        <div class="social">
          <a class="animated" id="twitt" (mouseenter) ="addClass('twitt')" href="https://twitter.com/RCN_token" target="_blank"><i class="fab fa-twitter"></i></a>  
          <a class="animated" id="tele" (mouseenter) ="addClass('tele')" href="https://t.me/RCNchat" target="_blank"><i class="fab fa-telegram-plane"></i></a>  
          <a class="animated" id="discord" (mouseenter) ="addClass('discord')" href="https://discord.gg/9PMxhst" target="_blank"><i class="fab fa-discord"></i></a>  
          <a class="animated" id="reddit" (mouseenter) ="addClass('reddit')" href="https://www.reddit.com/r/rcn_token/" target="_blank"><i class="fab fa-reddit-alien"></i></a>  
          <a class="animated" id="git" (mouseenter) ="addClass('git')" href="https://github.com/ripio" target="_blank"><i class="fab fa-github"></i></a>  
        </div>
        <p class="mobile-divider">|</p>
        <div class="copy"><p>© 2019 RCN All Rights Reserved</p></div>
      </div>
  </div>
 </div>