@import '../../../styles.scss'; //Styles

.main-container {
	background-color: black;
	margin: 0;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 1% 0;
	overflow-x: hidden;
	.row {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		.col-1 {
			width: 10%;
			margin-left: 2%;
			.logo-box {
				width: 120px;
				img {
					width: 100%
				}
			}
	}
	.col-2 {
		width: 80%;
		margin-right: 2%;
		display: flex;
		justify-content: flex-end;
		align-content: center;
		flex-wrap: wrap;
		
		.social {
			width: 15%;
			margin-right: 2%;
			display: flex;
			justify-content: space-around;
			align-items: center;
		}
		.copy {
			margin-left: 20px;
		}
	}
	
}
		
	.fab {
		color: white;
		margin: 0 10px;
		padding: 0;
		font-size: 20px;
		-webkit-transition: color 0.5s; /* Safari */
		transition: color 0.5s;
	}
	
	.fab:first-of-type {
		margin-left: 0px;
		
	}

	.fab:hover {
		color: $rcn-blue;
		-webkit-transition: color 0.5s; /* Safari */
		transition: color 0.5s;
	}
	
	// .links {
	// 	width: 60%;
	// 	display: flex;
	// 	justify-content: flex-end;
	// 	margin-right: 0px;
	// 	span {
	// 		margin: 0 40px;
	// 	}
	// }
	.links {
		width: 62%;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		@include foot-subtitle;
		margin-right: 0px;
		span {
			margin: 0 40px;
		}
		a {
			color: white;
			text-decoration: none;
		}
		a:hover {
			color: $rcn-blue;
			font-weight: 700;
			-webkit-transition: color 0.5s; /* Safari */
			transition: color 0.5s;
			-webkit-transition: font-weight 0.5s; /* Safari */
			transition: font-weight 0.5s;
		}
		.link {
			cursor: pointer;
			-webkit-transition: color 0.5s; /* Safari */
			transition: color 0.5s;
			-webkit-transition: font-weight 0.5s; /* Safari */
			transition: font-weight 0.5s;
		}
		.link:hover {
			color: $rcn-blue;
			font-weight: 700;
			-webkit-transition: color 0.5s; /* Safari */
			transition: color 0.5s;
			-webkit-transition: font-weight 0.5s; /* Safari */
			transition: font-weight 0.5s;
		}
		span {
			color: white;
		}
	}

	.copy {
		color: white;
		@include foot-subtitle;
	}
}

.links-mobile {
	display: none;
}

.logo-box-mobile {
	display: none;
}

.mobile-divider {
	display: none;
}

@media (max-width: 1080px) {

.main-container {
	display: flex;
	justify-content: center;
	.row {
		width: 90%;
		padding: 4% 0;
		display: block;
		.col-1 {
			width: 100%;
			display: flex;
			justify-content: space-between;
			height: auto;
			margin-left: 0;
			.links-mobile {
				display: block;
				@include foot-subtitle;
				height: auto;
				.link {
					margin: 0 0 10% 0;
				}
				a {
					color: white;
					text-decoration: none;
					margin: 5% 0;
				}
			}
			.logo-box-mobile {
				display: block;
				width: 150px;
				margin-right: 1%;
				img {
					width: 100%;
				}
			}
		}
		.col-2 {
			width: 100%;
			margin: 0;
			display: flex;
			justify-content: space-between;
			align-content: center;
			.social {
				width: 50%;
				display: flex;
				justify-content: space-between;
				align-items: center;
			}
		}
	}
	.links {
		display: none;
	}

	.mobile-divider {
		display: flex;
		align-items: center;
		color: white;
	}

	.fab {
		color: white;
		margin: 0 4%;
		padding: 0;
		font-size: 20px;
}

.fab:first-of-type {
	margin-left: 0px;
	
}

}

	.logo-box {
		display: none;
	}

}
